@previewbg: #648282;
@mainbg: #648282;
@toolbarbg: #536666;
@buttonsbg: #275A5A;
@buttonscolor: #B2C9C9;
@buttonsbg_hover: #174B4B;
@closebg: #974141;
@closecolor: #EED3D3;
@closebg_hover: #7D2626;
@separatorbg: #275A5A;

.bdradius(@param: 3px) {
	-webkit-border-radius: @param;
	-moz-border-radius: @param;
	border-radius: @param;
}
.bxshadow(@param: 0 0 6px #333) {
	-webkit-box-shadow: @param;
	-moz-box-shadow: @param;
	box-shadow: @param;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, 
nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	height: 100%;
}
body {
	font: normal 14px/18px Arial, sans-serif;
}
img {
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
td {
	vertical-align: top;
}
textarea {
	font: normal 1em Arial, sans-serif;
	resize: none;
	overflow: auto;
}
input[type="text"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

#viewBox {
	position: relative;
	margin: 0 auto;
}

#viewerWrapper {
	position: relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


#thumbnails {
	.bdradius(3px 0 0 3px);
	overflow: hidden;
	background-color: @previewbg;
	.box {
		width: auto;
		position: relative;
		&.hide {
			overflow: hidden;
			width: 0;
		}
	}
	.inner {
		padding: 0 20px;
	}
	.count {
		text-align: center;
		color: @buttonscolor;
		.current_page {
			width: 20px;
			padding: 2px 5px 3px;
			margin: 0;
			border: 0;
			.bdradius;
		}
	}
	.list {
		padding: 0;
		margin: 0;
		list-style: none;
		.item {
			@bw: 2px;
			@cb: @closebg;
			.bxshadow;
			display: block;
			position: relative;
			margin: 0 0 20px;
			cursor: pointer;
			// min-height: 150px;
			background-color: #fff;
			font-size: 0;
			line-height: 0;
			width: 100%;
			img {
				max-width: 100% !important;
			}
			.tb, .bb, .lb, .rb {
				display: none;
				position: absolute;
				left: 0;
				top: 0;
				background-color: @cb;
			}
			.tb, .bb {
				height: @bw;
				width: 100%;
			}
			.bb {
				top: auto;
				bottom: 0;
			}
			.lb, .rb {
				width: @bw;
				bottom: 0;
			}
			.rb {
				left: auto;
				right: 0;
			}
			&.active {
				cursor: default;
				.tb, .bb, .lb, .rb {
					display: block;
				}
			}
		}
	}
}


#main_view {
	width: 100%;
	background: @mainbg;
	.bdradius(0 3px 3px 0);
	overflow: hidden;
	.inner {
		padding: 0 50px;
		position: relative;
		min-height: 100%;
	}
	.img {
		max-width: 100%;
		display: block;
		margin: 4px auto;
		.bxshadow;
	}
	.box {
		position: relative;
		background: url('/img/ajax-loader.gif') center center no-repeat;
		z-index: 3;
	}
}


.box {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 500px;
}
.box_outer {
	position: relative;
	padding-top: 50px;
}

.btns {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: @buttonsbg;
	color: @buttonscolor;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	top: 5px;
	line-height: 20px;
	.bdradius;
	&:hover {
		background-color: @buttonsbg_hover;
	}
}
.toggle {
	left: 8px;
	&.hided {
		left: -1px;
	}
}

#height_separator {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 3px;
	background-color: @separatorbg;
	cursor: col-resize;
	z-index: 6;
	&.hide {
		width: 0;
	}
}

.toolbar {
	@padd: 4px;
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	height: 30px - @padd;
	z-index: 5;
	background-color: @toolbarbg;
	padding-top: @padd;
	.bxshadow(0 0 10px #000);
	&.hide {
		display: none;
	}
}

.p_close {
	z-index: 200;
	right: 4px;
	background-color: @closebg;
	color: @closecolor;
	&:hover {
		background-color: @closebg_hover;
	}
}

.btns_p {
	left: 50%;
	&#b_page_previous {
		margin-left: -40px;
	}
	&#b_page_next {
		margin-left: 20px;
	}
	&.disable {
		cursor: default;
		background-color: #777;
		color: #eaeaea;
	}
}

.ie7 {
	.toggle {
		&.hided {
			left: 0;
		}
	}
}